.TextEditor input,
.TextEditor textarea {
  font-family: 'Roboto', sans-serif;
  line-height: 1.0;
  background: #eee;
}

.TextEditor body {
  margin: 0;
}

.TextEditor p {
  margin: 0;
}

.TextEditor pre {
  padding: 10px;
  background-color: #eee;
  white-space: pre-wrap;
}

.TextEditor :not(pre) > code {
  font-family: monospace;
  background-color: #eee;
  padding: 3px;
}

.TextEditor img {
  max-width: 100%;
}

.TextEditor img.active {
  box-shadow: 0 0 0 2px blue;
}

.TextEditor blockquote {
  border-left: 2px solid #ddd;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
}

.TextEditor blockquote[dir='rtl'] {
  border-left: none;
  padding-left: 0;
  padding-right: 10px;
  border-right: 2px solid #ddd;
}

.TextEditor table {
  border-collapse: collapse;
}

.TextEditor td {
  padding: 10px;
  border: 2px solid #ddd;
}

.TextEditor input {
  box-sizing: border-box;
  font-size: 0.85em;
  width: 100%;
  padding: 0.5em;
  border: 2px solid #ddd;
  background: #fafafa;
}

.TextEditor input:focus {
  outline: 0;
  border-color: blue;
}

/**
 * Icons.
 */

.TextEditor .material-icons {
  font-size: 18px;
  vertical-align: text-bottom;
}

/**
 * App.
 */

.TextEditor .nav {
  padding: 10px 15px;
  color: #aaa;
  background: #000;
}

.TextEditor .nav-title {
  margin-right: 0.5em;
}

.TextEditor .nav-links {
  float: right;
}

.TextEditor .nav-link {
  margin-left: 1em;
  color: #aaa;
  text-decoration: none;
}

.TextEditor .nav-link:hover {
  color: #fff;
  text-decoration: underline;
}

.TextEditor .tabs {
  padding: 15px 15px;
  background-color: #222;
  text-align: center;
  margin-bottom: 30px;
}

.TextEditor .tab {
  color: #777;
  display: inline-block;
  text-decoration: none;
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
  margin-bottom: 0.2em;
}

.TextEditor .tab:hover {
  background: #333;
}

.TextEditor .tab + .tab {
  margin-left: 0.5em;
}

.TextEditor .tab.active {
  color: white;
  background: #333;
}

/**
 * Example.
 */

.TextEditor .example,
.TextEditor .error {
  padding: 20px;
}

.TextEditor .example {
  background: #fff;
}

.TextEditor .error {
  background: #fffae0;
}

.TextEditor .error .info {
  background: #fbf1bd;
  white-space: pre;
  overflow-x: scroll;
  margin-bottom: 0;
}

.TextEditor .editor > * > * + * {
  margin-top: 1em;
}

.TextEditor .menu > * {
  display: inline-block;
}

.TextEditor .menu > * + * {
  margin-left: 15px;
}

.TextEditor .button {
  color: #ccc;
  cursor: pointer;
}

.TextEditor .button[data-active='true'] {
  color: black;
}

.TextEditor .toolbar-menu {
  position: relative;
  /* padding: 1px 18px 17px; */
  margin: 0 -20px;
  border-bottom: 2px solid #eee;
  margin-bottom: 20px;
}

.TextEditor .toolbar-menu .search {
  position: relative;
}

.TextEditor .toolbar-menu .search-icon {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  color: #ccc;
}

.TextEditor .toolbar-menu .search-box {
  padding-left: 2em;
  width: 100%;
}

.TextEditor .hover-menu {
  padding: 8px 7px 6px;
  position: absolute;
  z-index: 1;
  top: -10000px;
  left: -10000px;
  margin-top: -6px;
  opacity: 0;
  background-color: #222;
  border-radius: 4px;
  transition: opacity 0.75s;
}

.TextEditor .hover-menu .button {
  color: #aaa;
}

.TextEditor .hover-menu .button[data-active='true'] {
  color: #fff;
}

.TextEditor .emoji.selected {
  outline: 2px solid blue;
}

.TextEditor .check-list-item + .check-list-item {
  margin-top: 0;
}

.TextEditor .check-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.TextEditor .check-list-item.checked {
  opacity: 0.666;
  text-decoration: line-through;
}

.TextEditor .check-list-item > span:first-child {
  margin-right: 0.75em;
}

.TextEditor .check-list-item > span:last-child {
  flex: 1;
}

.TextEditor .check-list-item > span:last-child:focus {
  outline: none;
}

.TextEditor .word-counter {
  margin-top: 10px;
  padding: 12px;
  background-color: #ebebeb;
  display: inline-block;
}