@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* TODO: refactor into separate files, maybe couple with components? */
/* TODO: CSS Modules or SCSS? */

/* Landing */


.gradient-bg {
  /* width: 100vw;
  height: 100vh; */
  background: linear-gradient(233deg, #333635, #111d21, #505f6b, #272829, #0b131a);
  background-size: 1000% 1000%;

  -webkit-animation: LandingGradient 47s ease infinite;
  -moz-animation: LandingGradient 47s ease infinite;
  -o-animation: LandingGradient 47s ease infinite;
  animation: LandingGradient 47s ease infinite;
}

@-webkit-keyframes LandingGradient {
  0%{background-position:0% 90%}
  50%{background-position:100% 11%}
  100%{background-position:0% 90%}
}
@-moz-keyframes LandingGradient {
  0%{background-position:0% 90%}
  50%{background-position:100% 11%}
  100%{background-position:0% 90%}
}
@-o-keyframes LandingGradient {
  0%{background-position:0% 90%}
  50%{background-position:100% 11%}
  100%{background-position:0% 90%}
}
@keyframes LandingGradient { 
  0%{background-position:0% 90%}
  50%{background-position:100% 11%}
  100%{background-position:0% 90%}
}

.login-form-wrap {
  width: 350px;
  background-color: #fff;
  margin-top: 20px;
  padding: 40px 30px 20px;
}
.login-form-button {
  width: 100%;
}
.login-logo {
  font-size: 60px;
  margin: 10px;
  color: #fff;
}

/* Dashboard */

.logo {
  height: 32px;
  background: rgb(219, 219, 219);
  margin: 16px;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #1890ff;
}

.user-avatar {
  line-height: 64px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .header-profile-dropdown {
    display: none;
  }
}