@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Future: refactor into separate files, maybe couple with components? */
.login-form {
  width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}