@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* TODO: refactor into separate files, maybe couple with components? */
/* TODO: CSS Modules or SCSS? */

/* Landing */

.gradient-bg {
  /* width: 100vw;
  height: 100vh; */
  background: linear-gradient(237deg, #596f8a, #6cb2cc, #496a72, #28454d, #8fd3d3);
  background-size: 1200% 1200%;

  -webkit-animation: LandingGradient 22s ease infinite;
  -moz-animation: LandingGradient 22s ease infinite;
  -o-animation: LandingGradient 22s ease infinite;
  animation: LandingGradient 22s ease infinite;
}

@-webkit-keyframes LandingGradient {
  0%{background-position:14% 0%}
  50%{background-position:87% 100%}
  100%{background-position:14% 0%}
}
@-moz-keyframes LandingGradient {
  0%{background-position:14% 0%}
  50%{background-position:87% 100%}
  100%{background-position:14% 0%}
}
@-o-keyframes LandingGradient {
  0%{background-position:14% 0%}
  50%{background-position:87% 100%}
  100%{background-position:14% 0%}
}
@keyframes LandingGradient { 
  0%{background-position:14% 0%}
  50%{background-position:87% 100%}
  100%{background-position:14% 0%}
}

.login-form-wrap {
  width: 350px;
  background-color: #fff;
  margin-top: 20px;
  padding: 40px 30px 20px;
}
.login-form-button {
  width: 100%;
}
.login-logo {
  font-size: 60px;
  margin: 10px;
  color: #fff;
}

/* Dashboard */

.logo {
  height: 32px;
  background: rgb(219, 219, 219);
  margin: 16px;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #1890ff;
}

.user-avatar {
  line-height: 64px;
  cursor: pointer;
}
